<%- include("./partials/header") %>

<div class="container mt-3">
    <header class="jumbotron">
        <h1>Welcome to Custom Suits Section</h1>
        <p>Naviagate Through Our Hand-Picked Clothes For This Season
        </p>
        <!-- <a class="btn btn-primary" href="#">Add new
            Campground</a> -->
    </header>

    <div class="row">
        <% cloths.forEach(function(custom){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 my-2 d-flex align-items-stretch">
            <div class="card">
                <a class="ribbon">INR <%=custom.price%></a>
                <img src="<%= custom.image %>" class="card-img-top p-1"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%=custom.name%></h5>
                    <p class="card-text">Some quick example text to build on the
                        card title and make up the bulk of the card's content.
                    </p>
                    <!-- <p><%=custom.category%></p> -->
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="/addtocart/<%=custom._id%>" class="btn btn-danger float-right"><i class="fa fa-shopping-cart"
                            aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include("./partials/footer") %>